.modal-overlay-solicitarservico {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  height: 96vh;
}

.modal-container-solicitarservico {
  background: #fff;
  border-radius: 20px;
  max-width: 1000px;
  position: relative;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.modal-closem-solicitarservico {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #f1f1f1;
  border: solid 1px;
  border-radius: 50%;
  padding:4px 8px;
  cursor: pointer;
}

.modal-content-solicitarservico {
  padding: 40px;
}

.modal-title-solicitarservico {
  text-align: center;
  font-size: 24px;
  color: #a0005a;
  margin-bottom: 30px;
}

.modal-grid-solicitarservico {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 10px;
}

.modal-column-solicitarservico input {
  width: 90%;
  background: #e1e1e1;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
}

.modal-column-solicitarservico select {
  width: 96%;
  background: #e1e1e1;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 2px 12px;
  margin-bottom: 10px;
}

.contact-box-solicitarservico {
  background: #f195c2;
  padding: 20px;
  border-radius: 16px;
  justify-items: center;
}

.radio-group-solicitarservico {
  display: flex;
  gap: 30px;
  margin: 4px 0;
}

.contact-note-solicitarservico {
  font-size: 12px;
  border-top: 1px solid #8d1055;
  padding-top: 10px;
}

.modal-actions-solicitarservico {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-enviar-solicitarservico {
  background: linear-gradient(90deg, #ff008c, #e6007e);
  color: #fff;
  border-radius: 16px;
  padding: 12px 30px;
  border: none;
  margin: 1rem auto;
  box-shadow: 0 10px 25px rgba(230, 0, 126, 0.3);
}

@media (max-width: 768px) {
  .modal-grid-solicitarservico {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0 10px;
  }
  .modal-container-solicitarservico {
    width: 90%;
    top:0;
    padding: 3rem 10px;
    margin-right: 28px;
  }

  .modal-title-solicitarservico {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .modal-overlay-solicitarservico {
    padding: 15px;
    height: 100vh;
    width: 100%;
  }

  .modal-column-solicitarservico input {
    margin-bottom: 6px;
  }

  .modal-column-solicitarservico select {
    width: 98%;
    margin-bottom: 6px;
  }

  .modal-closem-solicitarservico {
    padding:1px 4px;
  }
}
