.header-nextegen {
  position: fixed;
  width: 100%;
  top: 20px;
  z-index: 1000;
}

.header-container-nextegen {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 50px;
  background: rgba(107, 9, 70, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

.logo-nextegen {
  width: 120px;
}

.nav-nextegen {
  display: flex;
  gap: 30px;
}

.nav-nextegen .button-nextegen {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.contact-btn-nextegen {
  background: #fff;
  color: #6b0946;
  border: none;
  padding: 12px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.hamburger-nextegen {
  display: none;
  color: white;
  cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu-nextegen {
  position: fixed;
  top: 96px;
  right: -100%;
  width: 85%;
  height: max-content;
  background: #6b0946;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  gap: 20px;
  transition: 0.4s ease;
  border-radius: 8px;
}

.mobile-menu-nextegen.show {
  right: 10px;
}

.mobile-menu-nextegen .button-nextegen-mobile {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: left;
}

.mobile-contact-nextegen {
  margin-top: 20px;
  padding: 12px;
  background: white;
  border: none;
  border-radius: 10px;
  color: #6b0946;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .header-nextegen {
        width: 96%;
        top: 18px;
        left: 2%;
        right: 2%;
    }

  .nav-nextegen {
    display: none;
  }

  .contact-btn-nextegen {
    display: none;
  }

  .hamburger-nextegen {
    display: block;
  }
}
