.section-parceiros {
    width: 100%;
    font-family: 'avenir-lt-w01_35-light1475496', sans-serif;
    height: auto;
    background-color: #f1f1f1;
    padding: 1rem 0;
}

.h1-parceiros {
    font-size: 2rem;
    font-weight: 600;
    color: #6b0c56;
    margin: 1rem  0 2rem 0rem;
    text-align: center;
}

.article-parceiros {
    display: flex;
    justify-content: space-around;
    width: 55%;
    transform: translateX(-50%);
    margin: 1rem 0 1rem 50%;
}

.imagem-parceiros {
    width: 6rem;
}

@media (max-width: 580px) {
    .h1-parceiros {
        font-size: 2rem;
        margin: 1rem  0 1rem 7%;
    }

    .article-parceiros {
        width: 100%;
        transform: translateX(0);
        margin: 3rem 0;
    }

    .imagem-parceiros {
        width: 35%;
    }

}
